* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: black;
    font-size: 62.5%;
}

body {
    color: red;
    text-align: center;
}

section {
    margin: 1rem auto 7rem;
    padding: 0 10rem;
}

h1 {
    font-size: 10rem;
}

h2 {
    font-size: 5rem;
}

p {
    font-size: 3rem;
}

label {
    font-size: 3rem;
}

#genre {
    width: 20vw;
    height: 3rem;
    font-size: 1.5rem;
}

#movie-poster {
    width: 50vw;
}

#search-button {
    font-size: 2rem;
    padding: 0.3rem;
}